{% extends 'main/base.html' %}
{% block title %} SI Tracer Study | Alumni {% endblock %}
{% block menu %} Isi Kuesioner {% endblock %}
{% block link_menu %} Kuesioner {% endblock %}

{% block content %}

<div class="card card-primary card-outline">
    <div class="card-header">
      <h5 class="m-0">Kuesioner Tracer Study</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">Isi kuesioner masing-masing.</h6>

      <p class="card-text">Silakan isi kuesioner tracer study dengan klik button dibawah ini.</p>
      <a href="/mulai-kuesioner" class="btn btn-primary">Mulai isi kuesioner</a>
    </div>
</div>

{% endblock %}
